@font-face{
    font-family: samarkan;
    src : url(assets/SAMAN.ttf)
}

body{
    background-color: #333;
}

h1{
    font-family: samarkan;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 50;
}

.chakraContainer{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chakra{
    background-image: url(assets/kaalChakra.svg);
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    background-size: contain;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 3px whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kaal{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width : 769px){
    .chakra{
        width: 250px;
        height: 250px;
    }
    .kaal{
       width: 100px;
       height: 100px;
    }
}
@media screen and ( max-width : 485px ){
    .chakraContainer{
        display: flex;
        flex-direction: column-reverse;
        gap: 70px;
    }
    .chakra{
        width: 220px;
        height: 220px;
    }
    .kaal{
        width: 70px;
        height: 70px;
    }
}

.reverseRotate{
    animation: rotate-reverse 8s linear infinite;
}
.rotate{
    animation: wheel 8s linear infinite;
}
@keyframes rotate-reverse {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}
@keyframes wheel {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.kaal{
    background-color: #362FD9;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: whitesmoke;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bubble{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}